---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";

// Images
// import hero from '../assets/images/gallery/hero.png';
// import hero from "~/assets/images/gallery/hero.png";
// import banner from "../assets/images/gallery/banner.jpg";
// import CortesPeinados from "../assets/images/gallery/CortesPeinados.png";
// import TratamientosFaciales from "../assets/images/gallery/TratamientosFaciales.png";
// import ManicuraPedicura from "../assets/images/gallery/ManicuraPedicura.png";
// import reviewAuthors from "../assets/images/review-authors.png";
---

<Layout title="Home" pageTitle="Home" description="Welcome to our restaurant!">
  <Section class:list={"bg-white"}>
    <Hero>
      <div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
        <h1 class="font-black">
          Descubre tu mejor versión <br />
          <span class="text-brand-red">en Amanda Centro de Belleza</span>
        </h1>

        <p class="mt-4 text-lg">
          En nuestro centro de belleza, nos dedicamos a realzar tu belleza
          natural con tratamientos profesionales y personalizados. Desde cortes
          de cabello modernos hasta relajantes tratamientos faciales, te
          ofrecemos una experiencia única que te hará sentir renovada y
          radiante.
        </p>
        <div class="mt-8 flex items-center gap-x-8">
          <Button url="/book">Reservar</Button>
          <ButtonCallUs />
        </div>
      </div>
      <div slot="hero-content-right">
        <Picture
          class:list={"mx-auto"}
          src="../assets/images/gallery/hero.png"
          height={520}
          formats={["avif", "webp"]}
          alt="A description of my image."
          loading={"eager"}
          fetchpriority={"high"}
        />
      </div>
    </Hero>
  </Section>

  <WideImage
    image="../assets/images/gallery/banner.jpg"
    alt="Just an image"
    class:list={"aspect-video lg:aspect-[16/6]"}
  />

  <Section class:list={"bg-white"}>
    <Heading>
      <h2 slot="heading-title" class="font-black text-brand-red h2">
        Nuestros Servicios
      </h2>
      <p slot="heading-content">
        Descubre nuestra amplia gama de tratamientos de belleza, diseñados para
        realzar tu naturalidad y hacerte sentir única. Desde cortes de cabello
        modernos hasta relajantes tratamientos faciales, tenemos todo lo que
        necesitas para lucir radiante.
      </p>
    </Heading>

    <Grid>
      <div slot="grid-content-1">
        <div class="flex flex-col items-center prose text-center">
          <Picture
            class:list={"not-prose w-full h-auto"}
            src="../assets/images/gallery/CortesPeinados.png"
            formats={["avif", "webp"]}
            alt="Cortes y peinados modernos."
          />
          <h3 class="h4 mt-0 font-black text-brand-red">Cortes y Peinados</h3>
          <p>
            Descubre los estilos más modernos y clásicos, diseñados para
            resaltar tu personalidad y realzar tu belleza natural. Nuestros
            expertos te asesorarán para encontrar el look perfecto.
          </p>
        </div>
      </div>

      <div slot="grid-content-2">
        <div class="flex flex-col items-center prose text-center">
          <Picture
            class:list={"not-prose w-full h-auto"}
            src="../assets/images/gallery/TratamientosFaciales.png"
            formats={["avif", "webp"]}
            alt="Tratamientos faciales rejuvenecedores."
          />
          <h3 class="h4 mt-0 font-black text-brand-red">
            Tratamientos Faciales
          </h3>
          <p>
            Disfruta de nuestros tratamientos faciales personalizados, diseñados
            para limpiar, hidratar y rejuvenecer tu piel. ¡Luce radiante y llena
            de vitalidad!
          </p>
        </div>
      </div>

      <div slot="grid-content-3">
        <div class="flex flex-col items-center prose text-center">
          <Picture
            class:list={"not-prose w-full h-auto"}
            src="../assets/images/gallery/ManicuraPedicura.png"
            formats={["avif", "webp"]}
            alt="Manicura y pedicura de lujo."
          />
          <h3 class="h4 mt-0 font-black text-brand-red">Manicura y Pedicura</h3>
          <p>
            Consiente tus manos y pies con nuestros servicios de manicura y
            pedicura. Utilizamos productos de alta calidad para un acabado
            impecable y duradero.
          </p>
        </div>
      </div>
    </Grid>
  </Section>

  <Section class:list={"bg-white"}>
    <Hero>
      <div slot="hero-content-left" class="prose lg:order-2">
        <h1 class="font-black text-brand-red">Limpieza Facial Profesional</h1>

        <p>
          Descubre el secreto para una piel radiante y saludable con nuestra
          limpieza facial profesional. Este tratamiento no solo elimina
          impurezas y células muertas, sino que también rejuvenece tu piel,
          dejándola suave, hidratada y llena de vitalidad.
        </p>

        <p>
          Nuestros expertos utilizan productos de alta calidad y técnicas
          avanzadas para adaptar el tratamiento a las necesidades específicas de
          tu piel. Ya sea que busques reducir poros, eliminar imperfecciones o
          simplemente consentirte, nuestra limpieza facial es la opción perfecta
          para ti.
        </p>

        <div class="mt-8">
          <Button url="/menu">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 inline-block"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd"></path>
            </svg>
            Ver más
          </Button>
        </div>
      </div>
      <div slot="hero-content-right">
        <Picture
          class:list={"mx-auto"}
          src="../assets/images/gallery/limpieza-facial.png"
          height={520}
          formats={["avif", "webp"]}
          alt="A description of my image."
        />
      </div>
    </Hero>
  </Section>

  <!-- Reviews -->
  <Section class:list={"bg-brand-red/20 relative"}>
    <div class="py-16">
      <Hero>
        <div slot="hero-content-left" class="prose max-w-none order-2">
          <div class="text-center not-prose">
            <Badge color="white" title="Reseñas" />
          </div>
          <h2
            slot="heading-title"
            class="font-black h4 text-center mt-0 mb-4 text-brand-red"
          >
            Lo que dicen nuestras clientas...
          </h2>
          <div slot="heading-content">
            <p class="text-center">
              No nos creas solo a nosotros. Lee lo que nuestras clientas tienen
              que decir sobre su experiencia en Amanda Centro de Belleza.
            </p>

            <ReviewSlider />
          </div>
        </div>

        <div slot="hero-content-right">
          <Picture
            src="../assets/images/review-authors.png"
            alt="Review authors"
            class="w-full h-auto"
          />
        </div>
      </Hero>
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      class="absolute h-40 w-full top-0 inset-x-0 rotate-180"
      preserveAspectRatio="none"
      ><path
        fill="#ffffff"
        fill-opacity="1"
        d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      class="absolute h-40 w-full bottom-0 inset-x-0"
      preserveAspectRatio="none"
      ><path
        fill="#ffffff"
        fill-opacity="1"
        d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </Section>

  <!-- Contact -->
  <Section class:list={"bg-white"}>
    <Hero>
      <div slot="hero-content-left" class="prose max-w-none">
        <h2 slot="heading-title" class="font-black text-brand-red h2 my-4">
          Visítanos y descubre tu mejor versión
        </h2>
        <div slot="heading-content">
          <p>
            Estamos ubicados en el corazón de Pelileo, en un lugar fácil de
            encontrar y con un ambiente acogedor. Nuestro centro de belleza es
            el lugar perfecto para consentirte y disfrutar de una experiencia
            única.
          </p>

          <span class="text-brand-green font-medium">
            ✔ Ofrecemos servicios personalizados y tratamientos de alta calidad
            para que te sientas renovada y radiante.
          </span>

          <div class="mt-8">
            <Button color="red" url="/reservar">Reserva tu cita</Button>
          </div>
        </div>
      </div>

      <div slot="hero-content-right">
        <Picture
          class:list={"mx-auto"}
          src="../assets/images/gallery/ManicuraPedicura.png"
          height={500}
          formats={["avif", "webp"]}
          alt="A description of my image."
        />
      </div>
    </Hero>
  </Section>
</Layout>
