---
const { id, class: className, contain = true } = Astro.props;
---

<section id={id} class={className}>
  <div class={`${contain ? "container py-16 lg:py-18" : ""}`}>
    <slot />
  </div>
</section>
